.page-header
{
  color:gold;
  background: rgb(30, 64, 105);
  text-align: center;


}
body
{
  padding: 0;
  margin: 0;
  background: rgb(30,64,80);
  background-position: center;
}
#login_button
{
  float:left;
  padding:12px;
  border-bottom:2 auto solid;

}
#section
{
  background: url("background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
