*
{
  margin: 0;
}

body
{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:14px;
  background: url('background1.jpeg') ;
  background-repeat:no-repeat;
  background-position: fixed;
  background-size: cover;

}
.header_statement
{
  color:blue;
  font-weight: bold;
  text-align: center;
  padding:15px;
  text-shadow: 2px 2px 1px #000;
}
.header
{
  /* background: rgb(32, 84, 156); */
  background:  #390226;
  width:100%;

}
.login
{
  width:350px;
  margin:100px auto ;
  /* padding-right: 300px; */
  font-size: 18px;

}
input
{
  display: block;
  width:100%;
  padding:5px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight:bold;
}
button
{
  width:100%;
  padding:5px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  font-weight: bold;

}
p.error
{
  background: red;
  padding:10px;
  color:white;

}
p
{
  font-weight: bold;
  margin-bottom:15px;

}
p.info
{
  background: green;
  padding:10px;
  color:white;

}
header
{
  /* background:#eee; */
  background: #390226;
  overflow:auto;
  padding:5px;
  height:85px;
}
header .appname
{
  float:center;
  font-size: 28px;
  font-weight: bold;
  color:blue;
  text-shadow: 2px 2px 1px #000;
  text-align:center;
  padding-top: 13px;
}
header .loggedin
{
  float:right
}
#loginbtn:hover
{
  cursor:pointer;
  background:#390226;
  border-color: black;
  color:white;

}
